.footerMain {
    display: flex;
    background-color: var(--main-color);
    gap: 5vw;
    justify-content: center; 
    align-items: center;     
    height: 7vh;
    width: 100vw;
    user-select: 'none'; 
}

.footer_text  {
    color: var(--secondary-color);
    font-size: 1vw;
}