.pages {
    background-color: white;
    min-height: 84vh;
    width: 100vw;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_UP {
    background-color: var(--main-color);
    min-height: 20vh;
    width: 90vw;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.section_UP_var2 {
    background-color: var(--secondary-color);
    min-height: 20vh;
    width: 90vw;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.section_middle {
    /* background-color: green; */
    min-height: 38vh;
    width: 90vw;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.section_down {
    /* background-color: grey; */
    min-height: 20vh;
    width: 90vw;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}